<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/index.css">
    <title>Document</title>
    
</head>
<body>
    <img src="image/house.png" alt="">
    <%for(var i = 0; i < news.length; i++){%>
        <p><%= news[i]%></p>
    <%}%>
</body>
</html>